@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Open+Sans:ital,wght@1,300;1,400;1,600;1,700&display=swap');

:root{
    --color-principal:rgb(245, 71, 72);
    --color-secundario:rgb(250, 250, 251);
    --color-btn-hoover:rgb(244, 137, 36);
}
/*Estilos Principales*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background:rgb(255, 255, 255) ;

}
button{
    display: block;
    border-style: none;
    color: #fff;
    background: var(--color-principal);
    cursor: pointer;
    transition:background 0.5s ease;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
}
button:hover{
    background:var(--color-btn-hoover)
}
h1{    
    font-family: 'Comforter', cursive;
    letter-spacing: 2px;
    font-size: 40px;
    padding: 10px;
     
}
.article_title{
    text-align: center;
    font-size: 35px;
    padding: 20px;
    font-weight: lighter;
}
.content_img{
    position: relative;
    width: 100%;
}
.content_img:before{
    position: absolute;
    content: "";
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-secundario);
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}
.btn_menu{
    font-size: 25px;
    margin-right: 10px;
    border-radius: 5px;
}
.nav{
    display: none;
}

/*------------------SLIDER-------------------------*/

.slider{
    position: relative;
}
.slider_img{
    display: block;
    width: 100%;
    height: 80vh;
}
.slider_info{
    position: absolute;
    top:40%;
    transform: translateX(20%);
    z-index: 2;
}
.slider_txt{
    color: #fff;
    font-size: 20px;
}
.slider_title{
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
}
.btn_slider{
    margin-top: 20px;
}
/*-----------------------SERVICIOS-----------------*/
.servicios{
    text-align: center;
}

.content_img_services{
    width: 90%;
    margin:auto;
}
.content_background{
    margin-bottom: 20px;
}
.content_background:before{
    border-radius: 5%;
}
.services_img{
    border-radius: 5%;
    height: 70vh;
}
.btn_services{
    margin: auto;
    margin-top: 30px;
}

/*-----------------------CLIENTES-----------------*/
.clientes{
    background: var(--color-secundario);
    margin-top: 50px;
    overflow: hidden;
}
.contenedor-clientes_card{
    width: 90%;
    margin: auto;
}
.card_clientes{
    height: 300px;
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.card_descripcion{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon_card{
    font-size: 30px;
    color: var(--color-principal);
}
.number_text{
    font-size: 45px;
    font-weight: bold;
    color: rgba(204, 204, 204, 0.596);
}
.card_info{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.card_info-title{
    font-size: 25px;
    margin-bottom: 10px;
}
.card_info-text{
    font-size: 17px;
    letter-spacing: .5px;
    color: rgba(68, 68, 68, 0.815);
}
.card_info-enlace{
    display: block;
    width: 93px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid var(--color-principal);
}

/*-----------------------Experiencia-----------------*/
.experiencia{
    width: 90%;
    margin: auto;
}
.experiencia_descripcion-texto{
    font-size: 17px;
    letter-spacing: .3px;
}
.btn-experiencia{
    margin: 30px 0;
}
iframe{
    width: 100%;
    height: 100%;
}
.contenedor_iframe{
    height: 300px;
}
/*-----------------------Trabajos-----------------*/
.trabajos{
    margin-top: 80px;
}
.content_img-trabajos{
    height: 350px;
}
.content_our-trabajos{
    position: absolute;
    z-index: 2;
    top: 100px;
    width: 90%;
    margin-left: 10px;
    color: #fff;
}
.trabajo_descripcion-texto{
    margin: 20px 0;
}
.content_our-works{
    padding: 20px;
}
.content_our-icon{
    background: var(--color-secundario);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 250px;
}
.our-icon{
    color: var(--color-principal);
    font-size: 40px;
    margin-bottom: 20px;
}
.our_icon-title{
    font-size: 25px;
    padding: 8px;
}
/*-----------------------Blog-----------------*/
.content_blog{
    width: 90%;
    margin: auto;
}
.blog_card{
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.blog_card-img{
    height: 200px;
    width: 100%;
}
.fa-user,
.fa-clock{
    color: var(--color-principal);
}
.blog_card-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.blog_card-title{
    padding: 10px;
}
.blog_card-enlace{
    display: block;
    width: 95px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid var(--color-principal);
}
/*-----------------------Blog-----------------*/

footer{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.445) 0%, rgba(32, 32, 32, 0.473) 100%), url(../img/imgFooter.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}
.footer_card{
    margin-bottom: 20px;
    padding: 20px;
}
.footer_title{
    color: #fff;
    margin-bottom: 20px;
}
.footer_text{
    color: #fff;
    margin-bottom: 20px;
}
.content_redes-sociales i{
    font-size: 25px;
    color: #fff;
    margin: 0 10px 0 0 ;
}
.footer_card ul li{
    list-style: none;
    color: #fff;
    padding: 5px 0;
}
.footer_card a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px 0;
}

/*-----------------------MediaQueries-----------------*/


@media screen and (min-width:1024px){